html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #E5F720; */
    background: #ffffff url('../img/geometry2.png'); 
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    /* font-size: 50px; */
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #7FFF00;
    font-size: 33px;
    animation-name: flip;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}
.deck .card.unmatched {
	animation-name: shake;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}
.deck .card.disabled {
	pointer-events:none;
	opacity: 1;
}
/*
 * Styles for the Score Panel
 */

 .score-panel {
 	text-align: left;
 	margin-bottom: 10px;
  font-size: 25px;
 }

 .score-panel .stars {
 	margin: 0;
 	padding: 0;
 	display: inline-block;
 	margin: 0 5px 0 0;
 }

 .score-panel .stars li {
   color: red;
 	list-style: none;
 	display: inline-block;
 }

 .score-panel .restart {
 	float: right;
 	cursor: pointer;
 }

 .fa-star {
 	color: #FFD700;
 }

 .timer {
 	display: inline-block;
 	margin: 0 1rem;
 }.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
 }

 .overlay:target {
  visibility: visible;
  opacity: 1;
 }

 .popup {
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 35%;
  position: relative;
  transition: all 1s steps(4, end);
  /*transition:;*/
  font-family:'Coda';
 }

 .popup h2 {
  margin-top: 0;
  color: #333;
 }

 .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
 }

 .popup .close:hover {
  color: #E5F720;
 }

 .popup .content-1,
 .content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
 }

 .show {
  visibility: visible !important;
  opacity: 100 !important;
 }

 #starRating li {
  display: inline-block;
 }

 #play-again {
  background-color: red;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  width: 50%;
  font-family: 'Coda', cursive;
  color: #ffffff;
  border-radius: 5px;
 }
 


 /* For Tablets and larger screens
****************/
/* iphnoe 5 */

@media screen and (min-width: 320px) and (max-height: 568px)
 {
    h1 {
        /* font-family: 'Open Sans', sans-serif; */
        /* font-weight: 300; */
        font-size: 23px;
    }
    .popup{
       width: 85%;

    }
     .container{
         min-zoom: 10px;
     }
	.deck {
           width: 95%;
    min-height: 435px;
	}

	.deck .card {
       height: 85px;
    width: 58px;
    margin-right: -8px;
    }
    
    .score-panel {
       font-size: 20px;
    padding-left: 70px;
        text-align: left;

    }
        .score-panel .restart {
            float: none;
            cursor: pointer;
            margin-top: -28px;
            margin-right: -22px;
        }
        .timer {
            display: inline-block;
            margin: 0 1rem;
            margin-left: 60px;
        }
        .popup .content-1, .content-2 {
            font-weight: bold;
            font-size: larger;
            /* max-height: 100%; */
            overflow: auto;
            text-align: center;

}
}

/* iphone  X */
 @media screen and (min-width: 375px) and (max-height: 812px)
 {
     .container{
         min-zoom: 10px;
     }
	.deck {
        width: 95%;
        min-height: 630px;
	}

	.deck .card {
        margin-left: -1px;
    height: 120px;
    width: 72px;
    margin-right: -12px;
    }
    
    .score-panel{
        text-align: center;
        }
        .score-panel .restart {
            margin-right: 20px;
            float: right;
            cursor: pointer;
        }
        .timer {
            display: inline-block;
            margin: 0 1rem;
            margin-left: 60px;
        }
        .popup {
        margin: 100px 5px;
            padding: 20px;
            background: #ffffff;
            border-radius: 5px;
            width: 95%;
            position: relative;
            transition: all 1s steps(4, end);
            /* transition: font-family: 'Coda'; */
        }
        .popup .content-1, .content-2 {
            font-weight: bold;
            font-size: x-large;
            /* max-height: 100%; */
            overflow: auto;
            text-align: center;
        }
 
    }
/* iphnoe 6/7/8 plus */
@media screen and (min-width:414px) and (max-height: 736px)
 {
     .container{
         min-zoom: 10px;
     }
	.deck {
        width: 93%;
        min-height: 565px;
	}

	.deck .card {
        margin-bottom: -37px;
        margin-top: -45px;
        margin-left: 6px;
        height: 120px;
        width: 72px;
        margin-right: -12px;
    }
    
    .score-panel{
        text-align: center;
        }
        .score-panel .restart {
            margin-right: 20px;
            float: right;
            cursor: pointer;
        }
        .timer {
            display: inline-block;
            margin: 0 1rem;
            margin-left: 60px;
        }
}


/* iphnoe 6/7/8 */

@media screen and (min-width: 375px) and (max-height: 667px)
 {
    h1 {
        /* font-family: 'Open Sans', sans-serif; */
        /* font-weight: 300; */
        font-size: 23px;
    }
     .container{
         min-zoom: 10px;
     }
	.deck {
        width: 95%;
        min-height: 563px;
	}

	.deck .card {
        margin-left: -1px;
        height: 105px;
        width: 4.5rem;
        margin-right: -12px;
    }
    
    .score-panel {
        text-align: left;
        font-size: 20px;
    }
        /*.score-panel .restart {*/
        /*    float: none;*/
        /*    cursor: pointer;*/
        /*    margin-top: -28px;*/
        /*    margin-right: -22px;*/
        /*}*/
        .timer {
            display: inline-block;
            margin: 0 1rem;
            margin-left: 60px;
        }
        .popup .content-1, .content-2 {
    font-weight: bold;
    font-size: larger;
    /* max-height: 100%; */
    overflow: auto;
    text-align: center;
}
}





/* ipad*/

@media screen and (min-width: 768px) and (min-height: 1024px)
{
    .container{
        min-zoom: 10px;
    }
   .deck {
    width: 733px;
    height: 750px;
   }

   .deck .card {
        height: 157px;
    margin-right: 9px;

}
    .popup{
        width:85%;
         font-weight: bold;
    font-size: x-large;
    }
    .popup .close {
            font-size: 70px;
    }
   }
   
   
/* ipad-pro */

@media screen and (min-width: 1024px) and (min-height: 720px)
{
    .container{
        min-zoom: 10px;
    }
   .deck {
    width: 733px;
    height: 750px;
   }

   .deck .card {
        height: 157px;
    margin-right: 9px;

}
    .popup{
        width:85%;
         font-weight: bold;
         font-size: larger;
    transform: translate(90px,70px);
    }
    .popup .close {
            font-size: 70px;
    }
   }
   /* laptop */

@media screen and (min-width: 1290px) and (min-height: 720px){
    /*.container{*/
    /*    min-zoom: 10px;*/
    /*}*/
   .deck {
       width: 47%;
    height: 560px;
   }

   .deck .card {
   margin-left: 13px;
    height: 121px;
    width: 125px;
    margin-right: -12px;
   }
   .popup .content-1, .content-2 {
    font-weight: bold;
    font-size: larger;
    /*transform: translate(90px,70px);*/
    /* max-height: 100%; */
    overflow: auto;
    text-align: center;
                                }   
}
   .popup .content-1, .content-2 {
    font-weight: bold;
    font-size: larger;
    /* max-height: 100%; */
    overflow: auto;
    text-align: center;
}
